.to-do-list {
    margin-top: 6%;
    .heading-text {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .column-list {
    padding: 0 5%;
    .checkbox-field {
        margin-right: 50px;
        margin-bottom: 30px;
        .checkbox-label {
            font-size: 20px;
            color: #333;;
        }
    }
}
}